@charset "utf-8";



*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
	margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: none;
}

/* --input and button type focus & outline style-- */

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, select:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}


/* --cv format start-- */
.cv-format {
    max-width: 794px;
    /* height: 1123px; */
    margin: 8px auto;
    border: 1px solid #d5d5d5;
    padding: 1.25rem;
    background: #e9e8e8;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 16px 42px;
    position: relative;
}

.content-wrapper.cv-left {
    background-color: #f6f6f6;
}
.content-wrapper.cv-right {
    background-color: #ffffff;
}

.content-wrapper img {
    width: 100%;
}

.logo-wrapper {
    position: absolute;
    width: 62px;
    top: 8px;
    right: 16px;
}

.content-inner {
    padding-top: 4rem;
}
.content-inner h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fcb34b;
    align-self: center;
    text-transform: uppercase;
}

.content-inner .content-box:not(:nth-child(2)) {
    margin-top: 3rem;
}
.content-box h3 {
    font-size: 17px;
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    padding-bottom: .75rem;
}

.content-inner p {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, .7);
}
.content-inner .title-box {
    display: flex;
    padding-bottom: 1rem;
}
.content-inner .title-box > div:first-child {
    margin-right: .5rem;
    flex-basis: 32px;
}
.content-inner .title-box .icon-wrap {
    width: 32px;
    height: 32px;
    background: #909cdf;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
}
.content-inner ul {
    margin-bottom: 0;
    list-style: none;
}

.content-inner ul li:not(:last-child){
    margin-bottom: .25rem;
}

.content-inner ol {
    padding-left: 16px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}